
.table {
    margin: 0 auto;
    border-spacing: 0 0;
    display: table;
    border-collapse: separate;
}

.box {
    height: 70px;
    width: 70px;
    background-color: #1990ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
    transition: background-color 0.5s;
}

.yellow {
    background-color: yellow;
    transition: background-color 0.5s;
}